<div class="layout-container">
    <div class="dashboard-text">
        <p>Want to get a quick opinion about something?</p>
        <p>Do a <strong>quick poll</strong> with your friends.</p>
        <button mat-raised-button>Create a Poll</button>
    </div>
    <div class="card-container">
        <div class="card card1">
          <p class="question">Who's the strongest Avenger?</p>
          <p class="option">Hulk</p>
          <p class="option">Thor</p>
          <p class="option">Captian America</p>
          <p class="option">Ironman</p>
        </div>
        <div class="card card2">
          <p class="question">Who's the fastest man alive?</p>
          <p class="option">Ussain Bolt</p>
          <p class="option">The Flash</p>
          <p class="option">Reverse Flash</p>
        </div>
        <div class="card card3">
          <p class="question">Do you believe in Aliens?</p>
          <p class="option">Yes I do</p>
          <p class="option">No I don't</p>
          <p class="option">Maybe? IDK</p>
        </div>
      </div>
</div>
